<mat-toolbar-row class="toolbar">
    <span class="toolbar-search">
        <mat-form-field class="example-full-width">
            <input matInput
                   placeholder="Search planet"
                   value=""
                   (input)="this.searchPlanets($event.target.value, false)">
        </mat-form-field>
    </span>

    <span class="example-spacer"></span>

    <span class="toolbar-pagesize">
        <span>Page size:</span>
        <mat-form-field>
            <select matNativeControl required
                    (change)="this.countOnPage = $event.target.value; this.outputListBySize($event.target.value)">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="100">100</option>
            </select>
        </mat-form-field>
    </span>
</mat-toolbar-row>

<mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile *ngFor="let item of this.planetsList; let i = index">
        {{i}}
        {{item.name}}
    </mat-grid-tile>
</mat-grid-list>


